{
  "plugins": [
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": { "parser": "svelte" }
    },
    {
      "files": "playground/**/*.{svelte,ts,js}",
      "options": {
        "importOrderSeparation": true,
        "importOrderSortSpecifiers": true,
        "importOrderCaseInsensitive": true,
        "importOrder": [
          "^\\$lib/(?!components)(.*)$",
          "^\\$lib/components/(.*)$",
          "^[.][.]/",
          "^[.]/"
        ]
      }
    }
  ]
}
