@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /*
    Configure your Tailwind theme that will be used by Starlight.
    https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
}

/*
  Add additional Tailwind styles to this file:
  https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

/* 
  Add line numbers to code blocks
  https://github.com/shikijs/shiki/issues/3#issuecomment-2182692412
*/
code {
  counter-reset: step;
  counter-increment: step 0;

  .ec-line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, 0.4);
  }
}
